<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Bookapi</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{css/styles.3ff695c00d717f2d2a11.css}"></head>
<body>
  <app-root></app-root>
  <script th:src="@{js/runtime-es2015.e8a2810b3b08d6a1b6aa.js}" type="module"></script>
  <script th:src="@{js/runtime-es5.e8a2810b3b08d6a1b6aa.js}" nomodule defer></script>
  <script th:src="@{js/polyfills-es5.2b9ce34c123ac007a8ba.js}" nomodule defer></script>
  <script th:src="@{js/polyfills-es2015.0ef207fb7b4761464817.js}" type="module"></script>
  <script th:src="@{js/main-es2015.b1aabd0763875c1de2f4.js}" type="module"></script>
  <script th:src="@{js/main-es5.b1aabd0763875c1de2f4.js}" nomodule defer></script>
</body>
</html>
